.graph-label
{
    display: none;
}

.graph-rect {
    fill: #EAF9FF  !important;
}

/* Employer 1 */

#domainDynamicDimension-one .m_1.y_2019 g:nth-child(n+1):nth-child(-n+31) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-one .m_2.y_2019 g:nth-child(n+1):nth-child(-n+28) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-one .m_3.y_2019 g:nth-child(n+1):nth-child(-n+11) .graph-rect
{
	fill: #F6F6F6 !important;
}


#domainDynamicDimension-one .m_1.y_2019 g:nth-child(n+1):nth-child(-n+31) .graph-rect
{
	fill: #F6F6F6 !important;
}


#domainDynamicDimension-one .m_2.y_2019 g:nth-child(n+1):nth-child(-n+28) .graph-rect
{
	fill: #F6F6F6 !important;
}



#domainDynamicDimension-one .m_4.y_2019 g:nth-child(n+22):nth-child(-n+30) .graph-rect
{
	fill: #F16953 !important;
}


#domainDynamicDimension-one .m_5.y_2019 g:nth-child(n+22):nth-child(-n+31) .graph-rect
{
	fill: #1EBEB4 !important;
}

/* Employer 2 */


#domainDynamicDimension-two .m_1.y_2019 g:nth-child(n+1):nth-child(-n+31) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-two .m_2.y_2019 g:nth-child(n+1):nth-child(-n+28) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-two .m_3.y_2019 g:nth-child(n+1):nth-child(-n+11) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-two .m_8.y_2019 g:nth-child(n+5):nth-child(-n+18) .graph-rect
{
	fill: #1EBEB4 !important;
}

/* Employer 3 */

#domainDynamicDimension-three .m_1.y_2019 g:nth-child(n+1):nth-child(-n+31) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-three .m_2.y_2019 g:nth-child(n+1):nth-child(-n+28) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-three .m_3.y_2019 g:nth-child(n+1):nth-child(-n+11) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-three .m_3.y_2019 g:nth-child(n+25):nth-child(-n+31) .graph-rect
{
	fill: #1EBEB4 !important;
}

#domainDynamicDimension-three .m_4.y_2019 g:nth-child(1) .graph-rect
{
	fill: #1EBEB4 !important;
}


#domainDynamicDimension-three .m_5.y_2019 g:nth-child(n+22):nth-child(-n+31) .graph-rect
{
	fill: #1EBEB4 !important;
}

#domainDynamicDimension-three .m_6.y_2019 g:nth-child(n+1):nth-child(-n+2) .graph-rect
{
	fill: #1EBEB4 !important;
}

#domainDynamicDimension-three .m_6.y_2019 g:nth-child(n+24):nth-child(-n+30) .graph-rect
{
	fill: #1EBEB4 !important;
}

#domainDynamicDimension-three .m_9.y_2019 g:nth-child(n+16):nth-child(-n+22) .graph-rect
{
	fill: #F16953 !important;
}

#domainDynamicDimension-three .m_9.y_2019 g:nth-child(30) .graph-rect
{
	fill: #F16953 !important;
}


/* Employer 4 */

#domainDynamicDimension-four .m_1.y_2019 g:nth-child(n+1):nth-child(-n+31) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-four  .m_2.y_2019 g:nth-child(n+1):nth-child(-n+28) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-four  .m_3.y_2019 g:nth-child(n+1):nth-child(-n+11) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-four .m_3.y_2019 g:nth-child(n+18):nth-child(-n+24) .graph-rect
{
	fill: #FCC659 !important;
}

/* Employer 5 */

#domainDynamicDimension-five .m_1.y_2019 g:nth-child(n+1):nth-child(-n+31) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-five  .m_2.y_2019 g:nth-child(n+1):nth-child(-n+28) .graph-rect
{
	fill: #F6F6F6 !important;
}

#domainDynamicDimension-five  .m_3.y_2019 g:nth-child(n+1):nth-child(-n+11) .graph-rect
{
	fill: #F6F6F6 !important;
}


#domainDynamicDimension-five .m_4.y_2019 g:nth-child(n+29):nth-child(-n+30) .graph-rect
{
	fill: #F16953 !important;
}

#domainDynamicDimension-five .m_5.y_2019 g:nth-child(n+22):nth-child(-n+31) .graph-rect
{
	fill: #1EBEB4 !important;
}



/* Tooltip */

.ch-tooltip
{
    width: 345px !important;
    height: 145px !important;
    background: #FFFFFF !important;;
    box-shadow: 0 0 4px 0 rgba(107,107,107,0.50) !important;;
    border-radius: 4px !important;;
    border-radius: 4px !important;
    color: transparent !important;
}

.ch-tooltip::after
{
    border-top-color: transparent !important;
}
